.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
}

.mt-2 {
     margin-top: 0.9rem!important;
}

.dropdown-toggle:hover, .dropdown-item:hover{
    cursor: pointer;
}

img{
    max-height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    display: inline-block;
}